.carousel-container {
  width: 50%; /* Adjust the width of the carousel */
  margin: auto;
  padding: 20px;
}

/* Carousel item styling */
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  height: 300px; /* Adjust the height for vertical space */
  width: 100px; /* Adjust the width for horizontal space */
}

/* Carousel content styling */
.carousel-content h3 {
  color: #6a1b9a;
  margin-bottom: 5px;
}

.carousel-content h4 {
  margin-bottom: 5px;
}

.carousel-duration {
  font-size: 0.8em;
  color: #666;
}

/* Adjusting the width of the container for responsiveness */
@media (max-width: 768px) {
  .carousel-container {
    width: 90%;
  }

  .carousel-item {
    width: 100%; /* Adjust to take full width on smaller screens */
    height: auto; /* Adjust height automatically */
  }
}
                                                                    