<<<<<<< HEAD
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

:root{
  --header-height:3rem;
  --hue:0;
  --sat:0%;
  --title-color: hsl(var(--hue), var(--sat),20%);
  --title-color-dark: hsl(var(--hue), var(--sat),0%);
  --text-color:hsl(var(--hue), var(--sat),46%);
  --body-color:hsl(var(--hue), var(--sat),98%);
  --container-color:#fff;

  --body-font: "Poppins",sans-serif;

  --big-font-size:3.5rem;
  --h1-font-size:2.25rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --normal-font-size:1rem;
  --small-font-size:0.813rem;
  --tiny-font-size:0.625rem;

  --font-normal:400;
  --font-medium:500;
  --font-semi-bold:600;

  --mb-0-25:0.25rem;
  --mb-0-5:0.5rem;
  --mb-0-75:0.75rem;
  --mb-1:1rem;
  --mb-1-5:1.5rem;
  --mb-2:2rem;
  --mb-2-5:2.5rem;
  --mb-3:3rem;

  --z-toptip:10;
  --z-fixed:100;
  --z-modal:1000;
}

/* responsive */
@media screen and(max-width: 992px){
  :root{
    --big-font-size:2.75rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:0.813rem;
    --smaller-font-size:0.75rem;

  }
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body,button,input,textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3{
  color: var(--title-color);
  font-family: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width:100;
  height:auto;
}

.section{
  padding: 6rem 0 2rem;
}

.section_title{
  font-size: var(--h1-font-size);
  color:var(--title-color);
}
.section_subtitle{
  display: block;
  font-size:var(--small-font-size);
  margin-bottom: 4rem;
}

.section_title,.section_subtitle{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  /* display: flex; */
  gap:1.5rem;
}

.button{
  display:inline-block;
  background-color: var(--text-color);
  background: linear-gradient(135deg, #3a1c71 50%, #d76d77 0%, #ffaf7b 100%);
  /* background: linear-gradient(to right, #DA7C25, #B923E1); */
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover{
  background-color: #21a1f1;
  transform: scale(1.05);
}

.button_icon{
  margin-left: var(--mb-0-5);
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width:992px){
  .container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button{
    padding: 1rem 1.7rem;
  }

  .button_icon{
    width: 22px;
    height: 22px;
  }  
}

@media screen and (max-width:768px){
  body{
    margin: 0 0 var(--header-height);
  }
  .section{
    padding: 2rem 0 4rem;
  }
  .section_subtitle{
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width:350px){
  :root{
    --big-font-size:2.25rem;
  }
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
>>>>>>> f15d256fa3218c9cca7016108259140380aa9a2a
